html,
body,
div {
  height: 100%;
}

.parallax {
  position: relative;
}

.parallax > div {
  /*Chọn tất cả các thẻ div có thẻ cha là .parallax*/
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  position: relative;
}

div.forest {
  background-image: url("https://images.unsplash.com/photo-1508193638397-1c4234db14d8?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8Zm9yZXN0fGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60");
}

div.eagle {
  background-image: url("https://images.unsplash.com/photo-1611689342806-0863700ce1e4?ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8ZWFnbGV8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60");
}

div.rhino {
  background-image: url("https://images.unsplash.com/photo-1541414779316-956a5084c0d4?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cmhpbm98ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60");
}

div.owl {
  background-image: url("https://images.unsplash.com/photo-1555163290-ec93e68a8047?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80");
}

div.lion {
  background-image: url("https://images.unsplash.com/photo-1562569633-622303bafef5?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8bGlvbnxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60");
}

div.bear {
  background-image: url("https://images.unsplash.com/photo-1588167056840-13caf6e4562a?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8YmVhcnxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60");
}

div.back {
  background-color: #000;
  /* opacity: 0.1; */
  justify-content: center;
}

div.back > div {
  font-size: 50px;
  height: 80px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2px solid white;
}
div.back > div i{
  color: white;
}

div.back > div:hover {
  transition: 1s ease-in;
  background-color: rgb(29, 182, 182);
  color: #196f3d ;
  border: 2px solid #196f3d ;
  cursor: pointer;
}


/*Navigation*/
.parallax > div.side-menu {
  position: fixed; /*Nav cố định*/
  top: 30%;
  left: 10px;
  background-color: transparent;
  opacity: 0.5;
  height: fit-content; /*Kế thừa cha div nên có height 100%. Chỉnh height về "vừa vặn" với tag cha*/
  height: -moz-fit-content; /*firefox*/
  color: white;
  font-style: 20px;
  font-weight: 800;
  mix-blend-mode: difference;
  z-index: 1;
}

div.side-menu ul {
  list-style: none;
  padding: 0 10px;
}

div.side-menu ul li {
  width: 100px;
  margin: 20px;
  padding-bottom: 5px;
  border-bottom: 2px solid white;
  box-sizing: border-box;
  transition: 1s ease;
}

div.side-menu ul li:hover {
  padding-left: 50px;
  cursor: pointer;
}

.active {
  padding-left: 50px;
}

/*text*/
.parallax > div > p {
  width: 60%;
  text-align: justify;
  color: white;
  font-size: 20px;
  margin: 50px;
  mix-blend-mode: difference; /*màu text tương phản với màu ảnh nền*/
}

.parallax > div > p > span {
  width: 100%;
  float: left;
  -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
  clip-path: polygon(
    100% 0,
    100% 100%,
    0 100%,
    0 80%
  ); /*Cắt phần tử thành 1 hình dạng*/
  transform: translateY(-50px);
  opacity: 0;
  animation: text 10s 1.5s ease-in-out infinite;
}

.parallax > div > p > span:first-child {
  animation-delay: 2s; /*độ trễ animation*/
}

.parallax > div > p > span:last-child {
  animation-delay: 1s;
}

@keyframes text {
  0% {
    transform: translateY(-50px);
    opacity: 0;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
  }
  20% {
    transform: translateY(0);
    opacity: 1;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
  }
  80% {
    transform: translateY(0);
    opacity: 1;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
  }
  100% {
    transform: translateY(50px);
    opacity: 0;
    -webkit-clip-path: polygon(100% 0, 100% -0%, 0 100%, 0 100%);
    clip-path: polygon(100% 0, 100% -0%, 0 100%, 0 100%);
  }
}

/*audio*/
.parallax audio {
  display: none;
}

.parallax > div.volume {
  /*icon turn off / turrn on*/
  height: 50px;
  width: 50px;
  position: fixed;
  left: 20px;
  bottom: 20px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: black;
  opacity: 0.4;
  border-radius: 10px;
  transition: 0.5s ease-in;
}

.parallax > div.volume:hover {
  opacity: 1;
  font-size: 25px;
  cursor: pointer;
}

/*shape*/
.parallax div.shape {
  position: absolute;
  z-index: 99;
}

.parallax .shape > img {
  height: 50px;
  width: 50px;
  position: absolute;
}

.parallax .shape > img:nth-child(1) {
  top: 50px;
  left: 100px;
  transform: translate(0, 0);
  animation: eagle 10s ease-in infinite;
}

.parallax .shape > img:nth-child(2) {
  bottom: 150px;
  left: 180px;
  transform: rotateZ(0deg) translateY(-10px);
  animation: rhino 4s linear infinite;
}

.parallax .shape > img:nth-child(3) {
  bottom: 500px;
  left: 800px;
  transform: rotateZ(40deg) translate(0px, 0px);
  animation: owl 3s ease-in infinite;
}

.parallax .shape > img:nth-child(4) {
  top: 400px;
  left: 500px;
  animation: lion 1.5s ease-out infinite;
}

.parallax .shape > img:nth-child(5) {
  top: 500px;
  left: 800px;
  opacity: 0;
  transition: 0.5s ease;
  animation: bear 2s ease-in-out infinite;
}

@keyframes eagle {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(500px, 50px);
  }
  55% {
    transform: rotateY(180deg) translate(-540px, 45px);
  }
  95% {
    transform: rotateY(180deg) translate(40px, 45px);
  }
  100% {
    transform: translate(0, 0) rotateY(0deg);
  }
}

@keyframes owl {
  0% {
    transform: rotateZ(40deg) translate(0px, 0px);
  }
  30% {
    transform: rotateZ(-40deg) translate(20px, 10px);
  }
  50% {
    transform: rotateZ(40deg) translate(10px, 40px);
  }
  70% {
    transform: rotateZ(-40deg) translate(0px, 50px);
  }
  100% {
    transform: rotateZ(40deg) translate(0px, 0px);
  }
}

@keyframes bear {
  50% {
    opacity: 1;
    transform: scale(2, 2);
  }
  100% {
    opacity: 0;
    transform: scale(0.5, 0.5);
  }
}

@keyframes lion {
  10% {
    transform: rotateX(360deg);
  }
  15% {
    transform: rotateZ(360deg);
  }
  20% {
    transform: rotateY(360deg);
  }
}

@keyframes rhino {
  50% {
    transform: rotateZ(-40deg) translateY(10px);
  }
  70% {
    transform: rotateZ(-40deg) translateY(20px);
  }
  100% {
    transform: rotateZ(0deg) translateY(-10px);
  }
}
